
<style>
h3{
color:beige;
}

h1{
color:blue;
}
body  {
  background-image:url("./images/heart.jpg");
background-repeat :no-repeat;
background-size:cover;
}

.alc{
  background-color:#99ccff;
border: 1px solid black;
background-color=red;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
 
    }

#firstname {
  background-color:yellow;
}
.cha{
align:right;

}

p {
  color:brown;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 15px;
}
.ssl{
width:100%;display:flex;
}


</style>