
<style>
h3{
color:beige;
}




#titles{
text-align: center;
color:maroon;
font-size:36px;
}
body  {
  background-image:url("./images/heart.jpg");
  background-size:cover;
}
p{
font-size:20px;
}


.alc{
  font-size:25px;
  background-color:#99ccff;
  border: 1px solid black;
  padding-top: 25px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-left: 15px;
 
    }

#firstname {
  background-color:yellow;
  font-size:25px;
}
#headings{
text-align: center;
padding-right:250px;
padding-left: 150px;
marigin-right:500px;
 margin-left: 150px;
}
.cha{

}
.pho{

padding-right:500px;
padding-left: 200px;
marigin-right:750px;
 margin-left: 250px;
}

p {
  color:brown;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 15px;
}
.ssl{
width:100%;display:flex;
}


</style>